.active {
    font-family: monospace;
}

li {
    transition: transform 1s;
    margin: 0 auto;
}

li:hover {
    text-decoration: underline;
}

h1 {
    font-family: monospace;
    margin-bottom: 30px;
    text-shadow: 2px 2px #C5C5F5;
}

body {
    background-image: url("Project_Images/background.jpg");
    -webkit-background-size: cover;
}


/* .row {
    margin-left: 20px;
    font-family: monospace;
    margin-bottom: 20px;
    background-color: transparent;
}

*/

.jumbotron {
    background-color: #7694E5;
}


.footer-text p {
    line-height: 150%;
    text-align: center;
    font-family: monospace;
}

.boxed {
    text-align: center;
    font-family: Roboto, sans-serif;
    background-color: white;
    border: 4px inset #2CCBE4;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    margin-bottom: 30px;
    line-height: 0.7;
}

.footer {
    margin-bottom: 30px;
}

h4 {
    margin-top: 20px;
    text-decoration: underline;
}

.col-md-6 {
    margin-left: 350px;
    animation: In;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

@keyframes In {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h3 {
   text-align: center;
   text-decoration: underline;
   font-family: monospace;
   margin-top: 40px;
    
}

p {
    text-align: center;
    font-family: monospace;
}

.icon {
    transition: transform 1s;
    margin: 0 auto;
}

.icon:hover {
    transform: scale(1.5);
}
